In [ ]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [ ]:
transactions = pd.read_excel(r"C:\Users\CCECC\Downloads\KPMG_VI_New_raw_data_update_final.xlsx", sheet_name='Transactions')
new_customer_lists = pd.read_excel(r"C:\Users\CCECC\Downloads\KPMG_VI_New_raw_data_update_final.xlsx", sheet_name='NewCustomerList')
customer_demographic = pd.read_excel(r"C:\Users\CCECC\Downloads\KPMG_VI_New_raw_data_update_final.xlsx", sheet_name='CustomerDemographic')
customer_add = pd.read_excel(r"C:\Users\CCECC\Downloads\KPMG_VI_New_raw_data_update_final.xlsx", sheet_name='CustomerAddress')

# Exploring the Transactions Dataset

In [ ]:
#print first five rows
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,42791,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,42876,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,43024,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,42978,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,43009,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
transaction_id             20000 non-null int64
product_id                 20000 non-null int64
customer_id                20000 non-null int64
transaction_date           20000 non-null int64
online_order               19640 non-null float64
order_status               20000 non-null object
brand                      19803 non-null object
product_line               19803 non-null object
product_class              19803 non-null object
product_size               19803 non-null object
list_price                 20000 non-null float64
standard_cost              19803 non-null float64
product_first_sold_date    19803 non-null float64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.0+ MB

The 'transaction_date' and 'product_first_sold_date' columns are stored as integers. Both colums should be changed to date.

In [ ]:
#convert date columns from integer to datetime
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'], unit='s')
transactions['transaction_date'].head()

0   1970-01-01 11:53:11
1   1970-01-01 11:54:36
2   1970-01-01 11:57:04
3   1970-01-01 11:56:18
4   1970-01-01 11:56:49
Name: transaction_date, dtype: datetime64[ns]

In [ ]:
#convert date columns from integer to datetime
transactions['product_first_sold_date'] = pd.to_datetime(transactions['product_first_sold_date'], unit='s')
transactions['product_first_sold_date'].head()

0   1970-01-01 11:27:25
1   1970-01-01 11:35:01
2   1970-01-01 10:06:01
3   1970-01-01 10:02:25
4   1970-01-01 11:43:46
Name: product_first_sold_date, dtype: datetime64[ns]

The integers in the date columns are not correct as it shows everything happening the same day at different times. We would need to refer back to the author of the data to seek more clasrification on how the data was collected.

In [ ]:
transactions.describe()

,transaction_id,product_id,customer_id,online_order,list_price,standard_cost
count,20000.000000,20000.00000,20000.000000,19640.000000,20000.000000,19803.000000
mean,10000.500000,45.36465,1738.246050,0.500458,1107.829449,556.046951
std,5773.647028,30.75359,1011.951046,0.500013,582.825242,405.955660
min,1.000000,0.00000,1.000000,0.000000,12.010000,7.210000
25%,5000.750000,18.00000,857.750000,0.000000,575.270000,215.140000
50%,10000.500000,44.00000,1736.000000,1.000000,1163.890000,507.580000
75%,15000.250000,72.00000,2613.000000,1.000000,1635.300000,795.100000
max,20000.000000,100.00000,5034.000000,1.000000,2091.470000,1759.850000

# Exploring Missing Values

In [ ]:
#identify missing values
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

We can decide to drop missing values depending on the objective of our analysis.

# Identifying Duplicate Values

In [ ]:
dups = transactions.duplicated()
transactions[dups].sum()

transaction_id             0.0
product_id                 0.0
customer_id                0.0
transaction_date           0.0
online_order               0.0
order_status               0.0
brand                      0.0
product_line               0.0
product_class              0.0
product_size               0.0
list_price                 0.0
standard_cost              0.0
product_first_sold_date    0.0
dtype: float64

# Exploring Columns

In [ ]:
transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [ ]:
transactions['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [ ]:
transactions['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [ ]:
transactions['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [ ]:
transactions['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [ ]:
transactions['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

All the columns appear to have consistent and correct information.

# Exploring New Customer List Dataset

In [ ]:
new_customer_lists.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.63,0.7875,0.984375,0.836719,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.48,0.4800,0.600000,0.510000,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.43,0.4300,0.430000,0.430000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.64,0.8000,0.800000,0.800000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.43,0.4300,0.537500,0.537500,4,4,1.703125

In [ ]:
new_customer_lists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
first_name                             1000 non-null object
last_name                              971 non-null object
gender                                 1000 non-null object
past_3_years_bike_related_purchases    1000 non-null int64
DOB                                    983 non-null datetime64[ns]
job_title                              894 non-null object
job_industry_category                  835 non-null object
wealth_segment                         1000 non-null object
deceased_indicator                     1000 non-null object
owns_car                               1000 non-null object
tenure                                 1000 non-null int64
address                                1000 non-null object
postcode                               1000 non-null int64
state                                  1000 non-null object
country                                1000 non-null object
property_valuation                     1000 non-null int64
Unnamed: 16                            1000 non-null float64
Unnamed: 17                            1000 non-null float64
Unnamed: 18                            1000 non-null float64
Unnamed: 19                            1000 non-null float64
Unnamed: 20                            1000 non-null int64
Rank                                   1000 non-null int64
Value                                  1000 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [ ]:
# Drop Unnamed Column
cols = ['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20']
new_customer_lists = new_customer_lists.drop(cols, axis=1)

In [ ]:
# Check for null values
new_customer_lists.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

We will decide what to do with the missing values based on the objective of our analysis.

In [ ]:
# Checking for duplicate values
new_customer_lists.duplicated().sum()

0

There are no duplicate values in the dataset

# Explore Columns

In [ ]:
new_customer_lists['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [ ]:
# Replace 'U' with 'Unspecified'
new_customer_lists['gender'].str.replace('U','Unspecified')

0             Male
1             Male
2           Female
3           Female
4           Female
5           Female
6             Male
7           Female
8             Male
9             Male
10            Male
11            Male
12            Male
13          Female
14          Female
15            Male
16          Female
17          Female
18          Female
19          Female
20            Male
21            Male
22            Male
23          Female
24          Female
25            Male
26          Female
27          Female
28          Female
29          Female
          ...
970         Female
971         Female
972           Male
973         Female
974         Female
975           Male
976           Male
977         Female
978           Male
979           Male
980         Female
981         Female
982           Male
983         Female
984    Unspecified
985         Female
986           Male
987         Female
988         Female
989         Female
990         Female
991           Male
992         Female
993           Male
994         Female
995           Male
996           Male
997         Female
998           Male
999           Male
Name: gender, Length: 1000, dtype: object

In [ ]:
new_customer_lists['DOB'].describe()

count                     983
unique                    958
top       1961-07-31 00:00:00
freq                        2
first     1938-06-08 00:00:00
last      2002-02-27 00:00:00
Name: DOB, dtype: object

# Exploring Customer Demographic

In [ ]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [ ]:
customer_demographic['default'].value_counts()

100                                                                                                                                                                                                                   113
1                                                                                                                                                                                                                     112
-1                                                                                                                                                                                                                    111
-100                                                                                                                                                                                                                   99
â°â´âµâââ                                                                                                                                                                                                              53
Ù¡Ù¢Ù£                                                                                                                                                                                                                 53
ï½ï½¨(Â´âï½â©                                                                                                                                                                                                          52
../../../../../../../../../../../etc/passwd%00                                                                                                                                                                         50
!@#$%^&*()                                                                                                                                                                                                             48
â°â´âµ                                                                                                                                                                                                                 48
â¦testâ§                                                                                                                                                                                                               47
(ï¾à²¥çà²¥ï¼ï¾ï»¿ â»ââ»                                                                                                                                                                                                45
Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ­Ø¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù Ø£Ù Ø¯ÙÙ. Ø¥Ø° ÙÙØ§Ø Ø§ÙØ³ØªØ§Ø± ÙØªÙØµÙØ¨ ÙØ§Ù. Ø£ÙÙÙ Ø§ÙØ·Ø§ÙÙØ§Ø Ø¨Ø±ÙØ·Ø§ÙÙØ§-ÙØ±ÙØ³Ø§ ÙØ¯ Ø£Ø®Ø°. Ø³ÙÙÙØ§ÙØ Ø¥ØªÙØ§ÙÙØ© Ø¨ÙÙ ÙØ§, ÙØ°ÙØ± Ø          44
â                                                                                                                                                                                                                      43
0/0                                                                                                                                                                                                                    43
ZÌ®ÌÍÌ ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ­ÌÌ®                                                                                                                                                                                 43
Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌÍWÌ·Ì¼Ì­aÌºÌªÍiÌ¨ÍÍÌ­ÍÌ¯ÌtÌ¶Ì¼Ì®sÌÌÍÍ Ì Ì«Ì BÌ»ÍÍÍÍÌ³eÌµhÌµÌ¬ÍÌ«ÍiÌÌ¹ÍÌ³Ì³Ì®ÍÌ«nÍdÌ´ÌªÌÌ ÍÌ°ÍÌ©ÍÍÍÌ²TÍ¢ÍÌ¼ÍÌªhÍÍÌ®Ì»eÌ¬ÌÍÌ Ì¤Ì¹ÌWÍÍÍÌÌÍÍaÍÍÍÌ¹Ì¼                         43
1000000000000000049861653971908893017010268485438462151574892930611988399099305815384459015356416                                                                                                                      43
ÅâÂ´â°ËÃÂ¨ËÃâââ                                                                                                                                                                                                        43
__ï¾(,_,*)                                                                                                                                                                                                             43
Â¸ËÃâÄ±ËÃÂ¯ËÂ¿                                                                                                                                                                                                         42
`ââ¬â¹âºï¬ï¬â¡Â°Â·ââÂ±                                                                                                                                                                                                 42
á                                                                                                                                                                                                                      42
ÅâÂ´Â®â Â¥Â¨ËÃ¸Ïââ                                                                                                                                                                                                     42
nil                                                                                                                                                                                                                    42
TÌÌ­ÌºÌºoÍ Ì·iÌ²Ì¬ÍÌªÍnÌÌÍvÍÌÌÌÌ¦oÌ¶ÌÌ°Ì keÍÍÌ®ÌºÌªÌ¹Ì±Ì¤ ÌtÍÌÍÌ³Ì£Ì»ÌªhÌ¼ÍÌ²Ì¦Ì³ÌÌ²eÍÌ£Ì°Ì¦Ì¬Í Ì¢Ì¼Ì»Ì±ÌhÍÍÍÍÌÌ£Ì²iÌ¦Ì²Ì£Ì°Ì¤vÌ»ÍeÌºÌ­Ì³ÌªÌ°-mÌ¢iÍnÌÌºÌÌ²Ì¯Ì°dÌµÌ¼ÌÍÌ©Ì¼ÌÌ³ ÌÌ¥Ì±Ì³Ì­rÌÌÌeÍpÍ rÌ¼ÌÌ»Ì­ÌeÍÌºÌ Ì£sÌ     42
ì¬íê³¼íì ì´íì°êµ¬ì                                                                                                                                                                                                     41
ãã¼ãã£ã¼ã¸è¡ããªãã                                                                                                                                                                                                      41
âââ                                                                                                                                                                                                                    41
â«testâ«                                                                                                                                                                                                               41
                                                                                                                                                                                                                     ...
1;DROP TABLE users                                                                                                                                                                                                     36
ð                                                                                                                                                                                                                      36
,./;'[]\-=                                                                                                                                                                                                             36
<>?:"{}|_+                                                                                                                                                                                                             35
ð©ð½                                                                                                                                                                                                                   35
2018-02-01 00:00:00                                                                                                                                                                                                    35
ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾                                                                                                                                                                                       35
(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»)                                                                                                                                                                                                35
../../../../../../../../../../../etc/hosts                                                                                                                                                                             34
NIL                                                                                                                                                                                                                    34
ã»(ï¿£âï¿£)ã»:*:                                                                                                                                                                                                       33
1'; DROP TABLE users--                                                                                                                                                                                                 33
ç°ä¸­ããã«ããã¦ä¸ãã                                                                                                                                                                                                      33
é¨è½æ ¼                                                                                                                                                                                                                33
''''"                                                                                                                                                                                                                  33
<script>alert('hi')</script>                                                                                                                                                                                           33
×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ­Ø§Øª Ø§ÙØªÙØ­ÙÙ                                                                                                                                                                                 32
-0.5                                                                                                                                                                                                                   32
â¢                                                                                                                                                                                                                     32
ã                                                                                                                                                                                                                      32
Ì¡ÍÍÌIÍÌÌÌ¦nÍÍÍvÌ®Ì«okÌ²Ì«ÌÍiÌÍÌ­Ì¹Ì ÌnÌ¡Ì»Ì®Ì£ÌºgÌ²ÍÍÌ­ÍÌ¬Í Ì°tÍÌ¦hÌÌ²eÌ¢Ì¤ ÍÌ¬Ì²ÍfÌ´ÌÍÌ£eÍÍeÌ£Ì¥Ì©lÍÍÍiÍ ÍÍÌ¦nÍÍÌÍÌ³Ì®gÍ Ì¨oÍ¡ÍÌªfÌÌ£Ì¬ ÌÌÍÌÍÌ®cÒÍÌ«ÍÍÍÍÍhÌµÌ¤Ì£ÍÍaÍÌÌ¼ÍÍoÌ¼Ì£Ì¥sÍ¢Ì±ÍÌºÌÌ¦Ì».ÌÌ                     32
'"''''"                                                                                                                                                                                                                31
ç¤¾æç§å­¸é¢èªå­¸ç ç©¶æ                                                                                                                                                                                                 31
ð¾ ð ð ð ð ð ð ð                                                                                                                                                                                                       31
testâ testâ«                                                                                                                                                                                                           31
<img src=x onerror=alert('hi') />                                                                                                                                                                                      31
/dev/null; touch /tmp/blns.fail ; echo                                                                                                                                                                                 30
âªâªtestâª                                                                                                                                                                                                             29
ì¸ëë°í ë¥´                                                                                                                                                                                                             27
,ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ                                                                                                                                                                                       25
Name: default, Length: 90, dtype: int64

Values in the default column dont arent correct, we would drop the column

In [ ]:
customer_demographic = customer_demographic.drop('default', axis=1)

In [ ]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0

In [ ]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
customer_id                            4000 non-null int64
first_name                             4000 non-null object
last_name                              3875 non-null object
gender                                 4000 non-null object
past_3_years_bike_related_purchases    4000 non-null int64
DOB                                    3913 non-null datetime64[ns]
job_title                              3494 non-null object
job_industry_category                  3344 non-null object
wealth_segment                         4000 non-null object
deceased_indicator                     4000 non-null object
owns_car                               4000 non-null object
tenure                                 3913 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 375.1+ KB

In [ ]:
customer_demographic['gender'].value_counts()

Female    2037
Male      1872
U           88
Femal        1
M            1
F            1
Name: gender, dtype: int64

Gender column has inconsistent values, we need to replace them with their appropriate values.

In [ ]:
# Replace inconsistent values with appropriate values
customer_demographic['gender'] = customer_demographic['gender'].replace('F','Female').replace('M','Male').replace('Femal','Female').replace('U','Unspecified')

In [ ]:
customer_demographic['gender'].value_counts()

Female         2039
Male           1873
Unspecified      88
Name: gender, dtype: int64

# Merge all customer information from three tables into one table

Both datasets contain the same values about customers, so it is advisable to merge them into one table for our analysis

In [ ]:
new_customer_lists.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [ ]:
customer_demographic['customer_id'].iloc[-1]

4000

We need to add 'Customer Id' column to new_customer_lists to enable us merge the tables vertically

In [ ]:
new_customer_lists.insert(0, 'customer_id', range(4001, 4001 + len(new_customer_lists)))

In [ ]:
new_customer_lists.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,4001,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,4002,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,4003,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,4004,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,4005,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [ ]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0

We need to merge the Customer Demographic with the Customer Address table before joining with New Customer List

In [ ]:
customer_add.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
# Merge dataframes using the customer_id column
customer_demographic = pd.merge(customer_demographic, customer_add, how='left', on='customer_id')

In [ ]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,0 Holy Cross Court,4211,QLD,Australia,9
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,Yes,13.0,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
customer_demographic = customer_demographic.drop(['address_x','postcode_x','state_x','country_x','property_valuation_x'], axis=1)

In [ ]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,0 Holy Cross Court,4211,QLD,Australia,9
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,Yes,13.0,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
new_customer_lists.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,4001,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,4002,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,4003,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,4004,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,4005,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125

In [ ]:
new_df = pd.concat([customer_demographic, new_customer_lists], ignore_index=True, sort=False)

In [ ]:
new_df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,New South Wales,Australia,10,NaN,NaN
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,New South Wales,Australia,10,NaN,NaN
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,0 Holy Cross Court,4211,QLD,Australia,9,NaN,NaN
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,17979 Del Mar Point,2448,New South Wales,Australia,4,NaN,NaN
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,Yes,13.0,9 Oakridge Court,3216,VIC,Australia,9,NaN,NaN
5,7,Fina,Merali,Female,6,1976-02-23,NaN,Financial Services,Affluent Customer,N,Yes,11.0,4 Delaware Trail,2210,New South Wales,Australia,9,NaN,NaN
6,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,NaN,Mass Customer,N,No,7.0,49 Londonderry Lane,2650,New South Wales,Australia,4,NaN,NaN
7,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,Yes,8.0,97736 7th Trail,2023,New South Wales,Australia,12,NaN,NaN
8,11,Uriah,Bisatt,Male,99,1954-04-30,NaN,Property,Mass Customer,N,No,9.0,93405 Ludington Park,3044,VIC,Australia,8,NaN,NaN
9,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,No,8.0,44339 Golden Leaf Alley,4557,QLD,Australia,4,NaN,NaN
10,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,N,Yes,8.0,2 Sutherland Street,3799,VIC,Australia,6,NaN,NaN
11,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,N,No,6.0,9 Mcbride Trail,2760,New South Wales,Australia,8,NaN,NaN
12,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,N,No,1.0,9861 New Castle Avenue,2428,New South Wales,Australia,9,NaN,NaN
13,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,NaN,Mass Customer,N,Yes,18.0,52 Moland Street,3331,VIC,Australia,4,NaN,NaN
14,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,NaN,Affluent Customer,N,Yes,15.0,82391 Kensington Lane,3058,VIC,Australia,9,NaN,NaN
15,18,Marjie,Neasham,Female,79,1967-07-06,Professor,NaN,Affluent Customer,N,No,11.0,092 2nd Alley,2135,New South Wales,Australia,12,NaN,NaN
16,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,N,No,1.0,59 Spaight Circle,2233,New South Wales,Australia,9,NaN,NaN
17,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,N,No,11.0,032 Bartelt Crossing,2444,New South Wales,Australia,8,NaN,NaN
18,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,N,Yes,16.0,18 Jenna Center,2650,New South Wales,Australia,7,NaN,NaN
19,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,N,Yes,15.0,3 Cordelia Plaza,2153,New South Wales,Australia,10,NaN,NaN
20,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,N,Yes,21.0,28 5th Center,4413,QLD,Australia,3,NaN,NaN
21,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,N,Yes,16.0,52 Carey Alley,4740,QLD,Australia,5,NaN,NaN
22,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,N,Yes,12.0,96 Texas Plaza,3218,VIC,Australia,7,NaN,NaN
23,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,N,Yes,21.0,48 Eagan Avenue,4868,QLD,Australia,4,NaN,NaN
24,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,N,No,19.0,9 Buell Park,4116,QLD,Australia,7,NaN,NaN
25,30,Darrick,Helleckas,Male,18,1961-10-18,NaN,IT,Affluent Customer,N,Yes,6.0,02663 Buell Parkway,2519,New South Wales,Australia,11,NaN,NaN
26,31,Star,Praton,Female,3,1962-11-24,Staff Accountant III,Telecommunications,High Net Worth,N,Yes,14.0,2294 Pleasure Place,2135,New South Wales,Australia,12,NaN,NaN
27,32,Marion,Vanichkin,Female,17,1995-04-20,Legal Assistant,Manufacturing,Affluent Customer,N,No,4.0,2951 Petterle Place,2756,New South Wales,Australia,9,NaN,NaN
28,33,Ernst,Hacon,Male,44,1957-06-25,Product Engineer,NaN,Affluent Customer,N,Yes,11.0,63 Lukken Drive,2170,New South Wales,Australia,9,NaN,NaN
29,34,Jephthah,Bachmann,Unspecified,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20.0,833 Luster Way,4005,QLD,Australia,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4966,4971,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,4.0,88 Shopko Way,2034,NSW,Australia,9,967.0,0.435625
4967,4972,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,10.0,7 Mallory Lane,3064,VIC,Australia,6,972.0,0.430000
4968,4973,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,11.0,79907 Randy Center,2192,NSW,Australia,10,972.0,0.430000
4969,4974,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,13.0,446 High Crossing Way,4165,QLD,Australia,5,974.0,0.425000
4970,4975,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,10.0,1530 Columbus Lane,3186,VIC,Australia,12,974.0,0.425000
4971,4976,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,17.0,669 Declaration Street,3810,VIC,Australia,6,974.0,0.425000
4972,4977,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,5.0,9 Ruskin Way,3228,VIC,Australia,9,977.0,0.420000
4973,4978,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,9.0,8 Burning Wood Junction,2232,NSW,Australia,10,977.0,0.420000
4974,4979,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,13.0,5 Melvin Park,3810,VIC,Australia,5,979.0,0.416500
4975,4980,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,9.0,21316 Ohio Place,2121,NSW,Australia,12,979.0,0.416500
4976,4981,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,3.0,93 Sutherland Terrace,2560,NSW,Australia,8,979.0,0.416500
4977,4982,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,22.0,1560 Grim Avenue,4720,QLD,Australia,1,979.0,0.416500
4978,4983,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,8.0,1 Quincy Road,2565,NSW,Australia,5,983.0,0.410000
4979,4984,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,21.0,607 Memorial Avenue,2074,NSW,Australia,11,983.0,0.410000
4980,4985,Pauline,Dallosso,U,82,NaT,Desktop Support Technician,IT,Affluent Customer,N,Yes,0.0,9594 Badeau Street,2050,NSW,Australia,10,985.0,0.408000
4981,4986,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,15.0,9460 Monument Park,3277,VIC,Australia,4,985.0,0.408000
4982,4987,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,7.0,72 Village Terrace,2250,NSW,Australia,8,987.0,0.400000
4983,4988,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,15.0,694 Coolidge Center,2620,NSW,Australia,7,988.0,0.399500
4984,4989,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,11.0,31854 Anniversary Terrace,2322,NSW,Australia,7,988.0,0.399500
4985,4990,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,11.0,125 Manufacturers Parkway,2193,NSW,Australia,8,988.0,0.399500
4986,4991,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,9.0,260 Briar Crest Drive,4209,QLD,Australia,6,988.0,0.399500
4987,4992,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,15.0,56 Moland Crossing,3356,VIC,Australia,3,988.0,0.399500
4988,4993,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,8.0,1 Shelley Pass,4118,QLD,Australia,3,993.0,0.391000
4989,4994,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,6.0,0535 Jay Point,2422,NSW,Australia,4,994.0,0.382500
4990,4995,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,3.0,6 Caliangt Way,3079,VIC,Australia,12,994.0,0.382500
4991,4996,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,9.0,2 Sloan Way,2200,NSW,Australia,7,996.0,0.374000
4992,4997,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,6.0,04 Union Crossing,2196,NSW,Australia,10,997.0,0.357000
4993,4998,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15.0,33475 Fair Oaks Junction,4702,QLD,Australia,2,997.0,0.357000
4994,4999,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,19.0,57666 Victoria Way,4215,QLD,Australia,2,997.0,0.357000
4995,5000,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,14.0,21875 Grover Drive,2010,NSW,Australia,9,1000.0,0.340000

We would assign the new dataframe to customer demographic where we will use one dataframe to capture all the customer information

In [ ]:
customer_demographic = new_df

In [ ]:
customer_demographic

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,New South Wales,Australia,10,NaN,NaN
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,New South Wales,Australia,10,NaN,NaN
2,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,0 Holy Cross Court,4211,QLD,Australia,9,NaN,NaN
3,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,17979 Del Mar Point,2448,New South Wales,Australia,4,NaN,NaN
4,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,N,Yes,13.0,9 Oakridge Court,3216,VIC,Australia,9,NaN,NaN
5,7,Fina,Merali,Female,6,1976-02-23,NaN,Financial Services,Affluent Customer,N,Yes,11.0,4 Delaware Trail,2210,New South Wales,Australia,9,NaN,NaN
6,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,NaN,Mass Customer,N,No,7.0,49 Londonderry Lane,2650,New South Wales,Australia,4,NaN,NaN
7,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,Yes,8.0,97736 7th Trail,2023,New South Wales,Australia,12,NaN,NaN
8,11,Uriah,Bisatt,Male,99,1954-04-30,NaN,Property,Mass Customer,N,No,9.0,93405 Ludington Park,3044,VIC,Australia,8,NaN,NaN
9,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,No,8.0,44339 Golden Leaf Alley,4557,QLD,Australia,4,NaN,NaN
10,13,Gabriele,Norcross,Male,38,1955-02-15,Developer I,Financial Services,High Net Worth,N,Yes,8.0,2 Sutherland Street,3799,VIC,Australia,6,NaN,NaN
11,14,Rayshell,Kitteman,Female,85,1983-03-25,Account Executive,Financial Services,Affluent Customer,N,No,6.0,9 Mcbride Trail,2760,New South Wales,Australia,8,NaN,NaN
12,15,Erroll,Radage,Male,91,2000-07-13,Junior Executive,Manufacturing,Mass Customer,N,No,1.0,9861 New Castle Avenue,2428,New South Wales,Australia,9,NaN,NaN
13,16,Harlin,Parr,Male,38,1977-02-27,Media Manager IV,NaN,Mass Customer,N,Yes,18.0,52 Moland Street,3331,VIC,Australia,4,NaN,NaN
14,17,Heath,Faraday,Male,57,1962-03-19,Sales Associate,NaN,Affluent Customer,N,Yes,15.0,82391 Kensington Lane,3058,VIC,Australia,9,NaN,NaN
15,18,Marjie,Neasham,Female,79,1967-07-06,Professor,NaN,Affluent Customer,N,No,11.0,092 2nd Alley,2135,New South Wales,Australia,12,NaN,NaN
16,19,Sorcha,Keyson,Female,76,2001-04-15,Geological Engineer,Manufacturing,High Net Worth,N,No,1.0,59 Spaight Circle,2233,New South Wales,Australia,9,NaN,NaN
17,20,Basile,Firth,Male,72,1980-08-13,Project Manager,Manufacturing,Mass Customer,N,No,11.0,032 Bartelt Crossing,2444,New South Wales,Australia,8,NaN,NaN
18,21,Mile,Cammocke,Male,74,1980-09-20,Safety Technician I,Manufacturing,Affluent Customer,N,Yes,16.0,18 Jenna Center,2650,New South Wales,Australia,7,NaN,NaN
19,24,Kim,Skpsey,Female,55,1977-12-03,Research Assistant I,Argiculture,Mass Customer,N,Yes,15.0,3 Cordelia Plaza,2153,New South Wales,Australia,10,NaN,NaN
20,25,Geoff,Assaf,Male,72,1976-12-02,Accounting Assistant III,Financial Services,Mass Customer,N,Yes,21.0,28 5th Center,4413,QLD,Australia,3,NaN,NaN
21,26,Trixi,Ginnelly,Female,12,1978-06-10,Editor,Financial Services,Mass Customer,N,Yes,16.0,52 Carey Alley,4740,QLD,Australia,5,NaN,NaN
22,27,Garvin,Klees,Male,37,1978-09-25,Research Nurse,Health,Mass Customer,N,Yes,12.0,96 Texas Plaza,3218,VIC,Australia,7,NaN,NaN
23,28,Fee,Zellmer,Male,5,1973-09-30,Senior Quality Engineer,Health,Affluent Customer,N,Yes,21.0,48 Eagan Avenue,4868,QLD,Australia,4,NaN,NaN
24,29,Mona,Sancraft,Female,62,1968-06-22,Safety Technician III,Manufacturing,Mass Customer,N,No,19.0,9 Buell Park,4116,QLD,Australia,7,NaN,NaN
25,30,Darrick,Helleckas,Male,18,1961-10-18,NaN,IT,Affluent Customer,N,Yes,6.0,02663 Buell Parkway,2519,New South Wales,Australia,11,NaN,NaN
26,31,Star,Praton,Female,3,1962-11-24,Staff Accountant III,Telecommunications,High Net Worth,N,Yes,14.0,2294 Pleasure Place,2135,New South Wales,Australia,12,NaN,NaN
27,32,Marion,Vanichkin,Female,17,1995-04-20,Legal Assistant,Manufacturing,Affluent Customer,N,No,4.0,2951 Petterle Place,2756,New South Wales,Australia,9,NaN,NaN
28,33,Ernst,Hacon,Male,44,1957-06-25,Product Engineer,NaN,Affluent Customer,N,Yes,11.0,63 Lukken Drive,2170,New South Wales,Australia,9,NaN,NaN
29,34,Jephthah,Bachmann,Unspecified,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20.0,833 Luster Way,4005,QLD,Australia,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4966,4971,Mavra,Finan,Female,30,1967-08-23,Nurse,Property,Affluent Customer,N,Yes,4.0,88 Shopko Way,2034,NSW,Australia,9,967.0,0.435625
4967,4972,Frieda,Tavinor,Female,43,1999-03-04,NaN,NaN,Affluent Customer,N,No,10.0,7 Mallory Lane,3064,VIC,Australia,6,972.0,0.430000
4968,4973,Ellwood,Budden,Male,82,1998-06-03,NaN,Health,Mass Customer,N,Yes,11.0,79907 Randy Center,2192,NSW,Australia,10,972.0,0.430000
4969,4974,Alex,Patshull,Female,37,1966-01-02,Senior Quality Engineer,Retail,Mass Customer,N,Yes,13.0,446 High Crossing Way,4165,QLD,Australia,5,974.0,0.425000
4970,4975,Aundrea,Outridge,Female,77,2001-01-24,Structural Engineer,Financial Services,Affluent Customer,N,Yes,10.0,1530 Columbus Lane,3186,VIC,Australia,12,974.0,0.425000
4971,4976,Amby,Bodega,Male,63,1968-06-12,Recruiter,NaN,Affluent Customer,N,Yes,17.0,669 Declaration Street,3810,VIC,Australia,6,974.0,0.425000
4972,4977,Esme,Pilipets,Male,15,1967-05-06,Environmental Tech,Health,Mass Customer,N,Yes,5.0,9 Ruskin Way,3228,VIC,Australia,9,977.0,0.420000
4973,4978,Beverly,Domnick,Female,56,1938-12-10,Structural Analysis Engineer,IT,Mass Customer,N,No,9.0,8 Burning Wood Junction,2232,NSW,Australia,10,977.0,0.420000
4974,4979,Artemis,Swanson,Male,77,1977-02-12,Web Designer II,Argiculture,Mass Customer,N,Yes,13.0,5 Melvin Park,3810,VIC,Australia,5,979.0,0.416500
4975,4980,Daryle,Marginson,Male,93,1986-06-27,Environmental Tech,Argiculture,Mass Customer,N,Yes,9.0,21316 Ohio Place,2121,NSW,Australia,12,979.0,0.416500
4976,4981,Tyne,Anshell,Female,71,1992-04-08,Mechanical Systems Engineer,NaN,Mass Customer,N,Yes,3.0,93 Sutherland Terrace,2560,NSW,Australia,8,979.0,0.416500
4977,4982,Leona,Shorrock,Female,83,1951-08-23,Senior Quality Engineer,Financial Services,Affluent Customer,N,Yes,22.0,1560 Grim Avenue,4720,QLD,Australia,1,979.0,0.416500
4978,4983,Bertrando,Carass,Male,45,1956-06-25,Sales Associate,Property,Mass Customer,N,No,8.0,1 Quincy Road,2565,NSW,Australia,5,983.0,0.410000
4979,4984,Augusta,Munns,Female,5,1951-09-17,Quality Control Specialist,NaN,Mass Customer,N,No,21.0,607 Memorial Avenue,2074,NSW,Australia,11,983.0,0.410000
4980,4985,Pauline,Dallosso,U,82,NaT,Desktop Support Technician,IT,Affluent Customer,N,Yes,0.0,9594 Badeau Street,2050,NSW,Australia,10,985.0,0.408000
4981,4986,Lauralee,Fudge,Female,83,1987-09-21,Research Nurse,Health,Mass Customer,N,No,15.0,9460 Monument Park,3277,VIC,Australia,4,985.0,0.408000
4982,4987,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,7.0,72 Village Terrace,2250,NSW,Australia,8,987.0,0.400000
4983,4988,Lolly,Prewer,Female,44,1997-10-23,Geologist I,Health,Mass Customer,N,No,15.0,694 Coolidge Center,2620,NSW,Australia,7,988.0,0.399500
4984,4989,Vyky,Pegg,Female,64,1943-03-15,Quality Control Specialist,Manufacturing,Mass Customer,N,Yes,11.0,31854 Anniversary Terrace,2322,NSW,Australia,7,988.0,0.399500
4985,4990,Kellen,Pawelski,Female,83,1945-07-26,NaN,Manufacturing,High Net Worth,N,Yes,11.0,125 Manufacturers Parkway,2193,NSW,Australia,8,988.0,0.399500
4986,4991,Jermaine,Bagshawe,Female,60,1954-05-14,Help Desk Operator,Property,Mass Customer,N,Yes,9.0,260 Briar Crest Drive,4209,QLD,Australia,6,988.0,0.399500
4987,4992,Bryan,Jachtym,Male,59,1974-05-15,Automation Specialist I,Manufacturing,Mass Customer,N,Yes,15.0,56 Moland Crossing,3356,VIC,Australia,3,988.0,0.399500
4988,4993,Renie,Laundon,Female,32,1973-12-18,Assistant Media Planner,Entertainment,Mass Customer,N,Yes,8.0,1 Shelley Pass,4118,QLD,Australia,3,993.0,0.391000
4989,4994,Weidar,Etheridge,Male,38,1959-07-13,Compensation Analyst,Financial Services,Mass Customer,N,Yes,6.0,0535 Jay Point,2422,NSW,Australia,4,994.0,0.382500
4990,4995,Datha,Fishburn,Female,15,1990-07-02,Office Assistant IV,Retail,Mass Customer,N,No,3.0,6 Caliangt Way,3079,VIC,Australia,12,994.0,0.382500
4991,4996,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,9.0,2 Sloan Way,2200,NSW,Australia,7,996.0,0.374000
4992,4997,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,6.0,04 Union Crossing,2196,NSW,Australia,10,997.0,0.357000
4993,4998,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15.0,33475 Fair Oaks Junction,4702,QLD,Australia,2,997.0,0.357000
4994,4999,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,19.0,57666 Victoria Way,4215,QLD,Australia,2,997.0,0.357000
4995,5000,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,14.0,21875 Grover Drive,2010,NSW,Australia,9,1000.0,0.340000